.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    display: inline-block;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 20px;
    color: #001a34;
}

.nav__link:hover {
    color: #003ead;
}

.nav__link_active {
    color: #003ead;
}
